* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	display: flex;
	justify-content: center;
}

navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	background-color: black;
	border-bottom: 1px solid white;
	color: white;
	padding: 10px

}

.nav-items {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	max-width: 1000px;
}

navbar li {
	padding: 0 8px;
	font-size: 18px;
	
}

.links {
	width: 75%;
	display: flex;
	justify-content: space-between;
	
}

.main-links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

.main-links li a {
	text-decoration: none;
	color: white;
}

.social-links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
}

.social-links li a {
	text-decoration: none;
	color: white;

}

main {
	background-color: lightgray;
	width: 100%;
	padding-top: 67px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-container {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 90px;

}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	background-color: white;
}

.hero-msg {
	width: 100%;
}

.cta-btns {
	margin: 20px;
	width: 100%;

}

.cta-btns button{
	padding: 15px;
	cursor: pointer;
	background-color: gray;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid black
}

footer {
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 10px;
}